*{
   margin: 0;
   padding: 0;
   font-family: 'Times New Roman', Times, serif;
   box-sizing: border-box;
}
body{
  background-color: rgb(177, 181, 181);
}
.card{
    width: 90%;
    max-width: 450px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search{
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    margin-right: 15px;
    flex: 1;
    outline: 0;
    background: #beb2b2;
    color: rgb(10, 10, 9);
    padding: 10px 20px;
    height: 60px;
    border-radius: 20px;
    font-size: 16px;
    
    
}
.search button{
    border: 0;
    outline: 0;
    background: #e7e3e3;
    color: rgb(25, 23, 20);
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 600;

}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 26px;
    margin-top: -6px;
}
.weather{
    display: none;
}